#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body {
    background: url(../../Images/tback.png) no-repeat center center fixed;
    background-size: cover;
}


nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

nav li:nth-child(9) {
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /* Start hidden off-screen */
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1001;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/* When sidebar is open */
.sidebar.show {
    transform: translateX(0);
}

/* Hide hamburger button on large screens */
.menu-button{
    display: none;
}

/* Responsive settings */
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.head{
    display: flex;
}

.head h2{
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    color: #ffffff;
}
.head .btn{
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 20px;
}