<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="match.css">
    <title>Document</title>
</head>
<body>
    <div class="Navbar">
        <nav>
            <ul>
                <li>
                    <a href="../../../home.html">AdityaStream Studios</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../../../home.html">Home</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Tournament/tournament.html">Tournament</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Teams/teams.html">Teams</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Stages/stage.html">Stages</a>
                </li>
                <li class="hideOnMobile">
                    <a href="#">Matches</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Users/user.html">User</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Widgets and API/widgets.html">Widgets and Api</a>
                </li>
                <li class="hideOnMobile">
                    <a href="../Login/login.html">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>